In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Define the file path
file_path = "C:/Users/Admin/Favorites/Documents/TECHNICAL PROGRAMMING II/settle2.csv"

# Load the dataset from a CSV file
data = pd.read_csv(file_path, skiprows=4)  # Adjust skiprows if the initial rows contain metadata

# Understanding the dataset
print("Dataset Size: ", data.shape)
print("\nColumn Names: ", data.columns)
print("\nData Types:\n", data.dtypes)
print("\nFirst 5 Rows of the Dataset:\n", data.head())

# Identifying the missing data
missingData = data.isnull().sum()
print("\nMissing Data Count:\n", missingData)

# Normalize a specific column ('Appel Boord')
column_name = 'Appel Boord'
if column_name in data.columns:
    data[column_name] = pd.to_numeric(data[column_name], errors='coerce')
    
    # Handle missing values by filling with the mean
    mean_value = data[column_name].mean()
    data[column_name] = data[column_name].fillna(mean_value)
    
    # Ensure there are no NaN values left
    if data[column_name].isnull().sum() == 0:
        print(f"\nNo NaN values in '{column_name}' after filling.")
    else:
        print(f"\nNaN values still present in '{column_name}' after filling.")
    
    # Check if normalization is needed
    print("\nSummary Statistics Before Normalization:\n", data[column_name].describe())
    
    # Normalize the data using StandardScaler
    scaler = StandardScaler()
    data['temp_sanitation'] = scaler.fit_transform(data[[column_name]])
    
    print("\nSummary Statistics After Normalization:\n", data['temp_sanitation'].describe())
else:
    print(f"\nColumn '{column_name}' not found.")

# Data Slicing and Indexing
if 'temp_sanitation' in data.columns and 'age_of_is' in data.columns:
    country_data = data[(data['City land. Can be upgraded'] == 'India') & (data['Year'] >= 2000) & (data['Year'] <= 2020)]
    print("\nData for India from 2000 to 2020:\n", country_data)
else:
    print("\nColumns 'City land. Can be upgraded' or 'Year' not found.")

# Using columns specified in the dataset for operations
specified_columns = [
    "is_cluster", "pocket_name", "pocket_alias", "ward_id", "ward_councillor", "avg_hhsize", "area_ha", 
    "density_dwellings", "structure_count", "age_of_is", "upgrade_category", "temp_sanitation", "toilets_full_flush", 
    "toilets_chemical", "toilets_portable", "toilets_container", "toilets_other", "toilets_total", 
    "ratio_toilets_dwellings", "pocket_code", "centroidx", "centroidy"
]

# Print specified columns
if all(col in data.columns for col in specified_columns):
    print("\nSelected Columns:\n", data[specified_columns].head())
else:
    missing_cols = [col for col in specified_columns if col not in data.columns]
    print(f"\nMissing Columns: {missing_cols}")

# Example operation using specified columns (e.g., analyzing average household size)
if 'avg_hhsize' in data.columns:
    avg_hhsize_mean = data['avg_hhsize'].mean()
    print(f"\nAverage Household Size: {avg_hhsize_mean}")
else:
    print("\nColumn 'avg_hhsize' not found.")

Dataset Size:  (430, 22)

Column Names:  Index(['Appel Boord', 'Appel Boord.1', 'None', '19100022', 'Johanna Martlow',
       '4.140000000', '0.088000000', '159.090909091', '14', '5 - 10 years',
       'City land. Can be upgraded', '0E-9', '10.000000000', '0E-9.1',
       '0E-9.2', '0E-9.3', '0E-9.4', '10.000000000.1', '1:1', 'TYGAPP001',
       '18.609142000', '-33.926268000'],
      dtype='object')

Data Types:
 Appel Boord                    object
Appel Boord.1                  object
None                           object
19100022                        int64
Johanna Martlow                object
4.140000000                   float64
0.088000000                   float64
159.090909091                 float64
14                              int64
5 - 10 years                   object
City land. Can be upgraded     object
0E-9                          float64
10.000000000                  float64
0E-9.1                        float64
0E-9.2                        float64
0E-9.3                        float64
0E-9.4                        float64
10.000000000.1                float64
1:1                            object
TYGAPP001                      object
18.609142000                  float64
-33.926268000                 float64
dtype: object

First 5 Rows of the Dataset:
         Appel Boord     Appel Boord.1          None  19100022  \
0            Area K            Area K   Never Never  19100088
1    Atlantis Farms   Meadowvale Farm           NaN  19100032
2    Atlantis Farms         Rondeberg           NaN  19100032
3  Atlantis Pockets  Dassenberg Drive  Atlantis Tip  19100029
4  Atlantis Pockets   Pine Grove Farm           NaN  19100032

           Johanna Martlow  4.140000000  0.088000000  159.090909091   14  \
0  Patrick (Pat) Pietersen         4.17        2.661     249.154453  663
1             Barbara Rass         3.95        0.010     100.000000    1
2             Barbara Rass         3.95        0.759      15.810277   12
3          Cynthia Clayton         4.67        1.697      33.588686   57
4             Barbara Rass         3.95        0.603      19.900498   12

    5 - 10 years  ... 10.000000000  0E-9.1  0E-9.2  0E-9.3  0E-9.4  \
0  10 - 15 years  ...        121.0     0.0     0.0     0.0     0.0
1   5 - 10 years  ...          0.0     0.0     0.0     0.0     0.0
2   5 - 10 years  ...          0.0     0.0     0.0     0.0     6.0
3  10 - 15 years  ...          0.0     0.0     0.0     9.0    14.0
4     > 20 years  ...          0.0     0.0     0.0     0.0     0.0

   10.000000000.1  1:1  TYGAPP001 18.609142000 -33.926268000
0           121.0  1:5  MITARE001    18.598543    -34.008208
1             0.0  NaN  NORATL002    18.529397    -33.567081
2             6.0  1:2  NORRON001    18.589864    -33.592408
3            23.0  1:2  NORDAS001    18.475226    -33.577512
4             0.0  NaN  NORPIN001    18.508242    -33.582325

[5 rows x 22 columns]

Missing Data Count:
 Appel Boord                     0
Appel Boord.1                   0
None                          241
19100022                        0
Johanna Martlow                 0
4.140000000                     0
0.088000000                     0
159.090909091                   0
14                              0
5 - 10 years                    0
City land. Can be upgraded      0
0E-9                            0
10.000000000                    0
0E-9.1                          0
0E-9.2                          0
0E-9.3                          0
0E-9.4                          0
10.000000000.1                  0
1:1                            91
TYGAPP001                       0
18.609142000                    0
-33.926268000                   0
dtype: int64

NaN values still present in 'Appel Boord' after filling.

Summary Statistics Before Normalization:
 count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Appel Boord, dtype: float64

Summary Statistics After Normalization:
 count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: temp_sanitation, dtype: float64

Columns 'City land. Can be upgraded' or 'Year' not found.

Missing Columns: ['is_cluster', 'pocket_name', 'pocket_alias', 'ward_id', 'ward_councillor', 'avg_hhsize', 'area_ha', 'density_dwellings', 'structure_count', 'age_of_is', 'upgrade_category', 'toilets_full_flush', 'toilets_chemical', 'toilets_portable', 'toilets_container', 'toilets_other', 'toilets_total', 'ratio_toilets_dwellings', 'pocket_code', 'centroidx', 'centroidy']

C:\Users\Admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\extmath.py:1137: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\Admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\extmath.py:1142: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\Admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\extmath.py:1162: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

TypeError: Could not convert string '10 - 15 years5 - 10 years5 - 10 years10 - 15 years> 20 years10 - 15 years10 - 15 years15 - 20 years5 - 10 years15 - 20 years15 - 20 years> 20 years> 20 years> 20 years15 - 20 years15 - 20 years> 20 years> 20 years15 - 20 years0 - 5 years0 - 5 years> 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years15 - 20 years10 - 15 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years5 - 10 years15 - 20 years5 - 10 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years15 - 20 years15 - 20 years> 20 years> 20 years15 - 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years15 - 20 years15 - 20 years15 - 20 years5 - 10 years10 - 15 years0 - 5 years15 - 20 years10 - 15 years0 - 5 years0 - 5 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years15 - 20 years15 - 20 years10 - 15 years15 - 20 years0 - 5 years15 - 20 years> 20 years10 - 15 years10 - 15 years10 - 15 years10 - 15 years15 - 20 years> 20 years5 - 10 years5 - 10 years5 - 10 years15 - 20 years10 - 15 years15 - 20 years5 - 10 years5 - 10 years5 - 10 years15 - 20 years5 - 10 years5 - 10 years> 20 years15 - 20 years15 - 20 years10 - 15 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years10 - 15 years15 - 20 years5 - 10 years> 20 years15 - 20 years5 - 10 years10 - 15 years15 - 20 years10 - 15 years15 - 20 years0 - 5 years5 - 10 years15 - 20 years> 20 years> 20 years> 20 years5 - 10 years10 - 15 years15 - 20 years15 - 20 years10 - 15 years10 - 15 years15 - 20 years10 - 15 years15 - 20 years10 - 15 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years> 20 years15 - 20 years> 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years5 - 10 years15 - 20 years> 20 years10 - 15 years15 - 20 years10 - 15 years10 - 15 years10 - 15 years15 - 20 years5 - 10 years15 - 20 years> 20 years> 20 years5 - 10 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years> 20 years15 - 20 years15 - 20 years5 - 10 years15 - 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years> 20 years15 - 20 years10 - 15 years> 20 years10 - 15 years15 - 20 years10 - 15 years15 - 20 years> 20 years15 - 20 years15 - 20 years> 20 years> 20 years> 20 years> 20 years15 - 20 years15 - 20 years10 - 15 years5 - 10 years0 - 5 years15 - 20 years5 - 10 years15 - 20 years10 - 15 years10 - 15 years5 - 10 years15 - 20 years15 - 20 years5 - 10 years10 - 15 years15 - 20 years10 - 15 years10 - 15 years15 - 20 years5 - 10 years5 - 10 years5 - 10 years15 - 20 years5 - 10 years5 - 10 years0 - 5 years5 - 10 years5 - 10 years5 - 10 years5 - 10 years5 - 10 years5 - 10 years5 - 10 years> 20 years5 - 10 years> 20 years5 - 10 years5 - 10 years10 - 15 years10 - 15 years5 - 10 years10 - 15 years15 - 20 years10 - 15 years10 - 15 years15 - 20 years15 - 20 years10 - 15 years15 - 20 years0 - 5 years10 - 15 years> 20 years15 - 20 years15 - 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years15 - 20 years15 - 20 years5 - 10 years> 20 years15 - 20 years15 - 20 years> 20 years> 20 years15 - 20 years10 - 15 years15 - 20 years15 - 20 years5 - 10 years10 - 15 years> 20 years5 - 10 years10 - 15 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years10 - 15 years> 20 years10 - 15 years5 - 10 years10 - 15 years> 20 years15 - 20 years15 - 20 years15 - 20 years10 - 15 years0 - 5 years0 - 5 years15 - 20 years15 - 20 years15 - 20 years> 20 years10 - 15 years10 - 15 years10 - 15 years10 - 15 years10 - 15 years10 - 15 years15 - 20 years10 - 15 years10 - 15 years15 - 20 years10 - 15 years15 - 20 years10 - 15 years5 - 10 years10 - 15 years10 - 15 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years0 - 5 years> 20 years0 - 5 years15 - 20 years10 - 15 years> 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years> 20 years> 20 years10 - 15 years> 20 years> 20 years5 - 10 years15 - 20 years15 - 20 years10 - 15 years15 - 20 years15 - 20 years5 - 10 years15 - 20 years5 - 10 years> 20 years10 - 15 years10 - 15 years> 20 years15 - 20 years5 - 10 years0 - 5 years> 20 years15 - 20 years> 20 years15 - 20 years15 - 20 years10 - 15 years15 - 20 years15 - 20 years5 - 10 years> 20 years> 20 years5 - 10 years10 - 15 years> 20 years> 20 years> 20 years> 20 years15 - 20 years> 20 years> 20 years> 20 years> 20 years> 20 years> 20 years5 - 10 years15 - 20 years> 20 years> 20 years5 - 10 years15 - 20 years> 20 years> 20 years10 - 15 years5 - 10 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years> 20 years0 - 5 years5 - 10 years15 - 20 years5 - 10 years10 - 15 years15 - 20 years15 - 20 years15 - 20 years15 - 20 years> 20 years15 - 20 years5 - 10 years10 - 15 years' to numeric

markdownContect = """
# Data Understanding and Summary

## Dataset Overview 
- Number of Rows: {}
- Number of Colomns: {}

## Colomn Names
-{}

## Data Types
-{}

## Missing Data
-{}

## Statistics for 'Urban population living in slums (% of urban population)' colomn
-{}

## Statistics for Normalized Urban Population in Slums' column
- {}

## Country data
{}